.devel {
	border: 1px dashed pink;
}

.build {
	background-color: lightgrey;
	padding: 1rem;
	select {
		display: inline-block;
		margin: 2rem;
		font-size: 2rem;
		width: 30rem;
	}
	btn {
		background-color: white;
		padding: 0.5rem;
		margin: 2rem;
		border: 1px black solid;
		border-radius: 0.75rem;
		width: 20rem;
	}
	.build--display {
		min-height: 30rem;
		background-color: lightblue;
	}
}

.thunderdome {
	.thunder--player, .thunder--challenger {
		padding: 2rem;
		margin: 1rem;
		font-size: 2rem;
		select, button {
			margin: 1rem;
		}
	}
	.distance {
		p {
			padding: 1rem;
			font-size: 2rem;
		}
	}
}