div.container.build
	div.row
		select.form-control.build--robot
			each val in models
				option(value=val)= val
		btn.btn.build--chooseRobot Choose Model
	div.row
		select.form-control.build--weapons
			each val in weapons
				option(value=val.val)= val.name
		btn.btn.build--addWeapon Add Weapon
	div.jumbotrom.build--display
		h2.build--display--weaponscap
	div.row
		btn.btn.build--fight Fight!